<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vue Practice</title>
	<!-- <link rel="stylesheet" href=""> -->
</head>
<body>
	<!-- created和mounted -->
	<div id="cm">
		<input v-model="name" type="text" />
		<h3>你叫{{name}}？</h3>
		<hr />
	</div>

	<!-- 计时例子 -->
	<div id="interval">
		<h3>现在是 {{time | formatTime}} 。</h3>
		<h3 v-pre>{{}}</h3>
		<hr />
	</div>

	<!-- 元素复用 -->
	<div id="re">
		<template v-if="type === 'name'">
			<label>用户名：</label>
			<!-- 使用key属性可以阻止复用，key的值必须唯一 -->
			<input placeholder="用户名" key="input-name" />
		</template>
		<template v-else="type === 'name'">
			<label>邮箱：</label>
			<input placeholder="邮箱" key="input-mail" />
		</template>
		<button @click="handleToggleClick">切换输入类型</button>
		<hr />
	</div>

	<!-- for -->
	<div id="vfor">
		<ul>
			<li v-for="(value, key, index) in user">
				{{index}} - {{key}} : {{value}}
			</li>
		</ul>
		<p>---------------------------------</p>
		<ul>
			<li v-for="n in 3">{{n}}</li>
		</ul>
		<hr />
	</div>

	<!-- filter -->
	<div id="filter">
		<ul>
			<template v-for="book in filterBooks">
				<li>书名：{{book.name}}</li>
				<li>作者：{{book.author}}</li>
			</template>
		</ul>
		<hr />
	</div>

	<!-- event -->
	<div id="event">
		<a href="#" @click="handleClick('禁止打开', $event)">禁止打开</a>
		<a href="#" @click.prevent="onClick">prevent</a>
		<input @keyup.13="keyup('enter')" type="text" />
		<input @keyup.ctrl.86="keyup('粘贴')" />
		<button @click.ctrl="keyup('ctrl+鼠标')">点</button>
		<hr />
	</div>

	<!-- 局部组件 -->
	<div id="localc">
		<my-component></my-component>
		<table>
			<tbody is="my-component"></tbody>
		</table>
		<hr />
	</div>

	<!-- 全局组件 -->
	<div id="globalc">
		<my-count></my-count>
		<my-count></my-count>
		<my-count></my-count>
		<hr />
	</div>

	<!-- 字符串数组props -->
	<div id="strarrprops">
		<input type="text" v-model="parentMessage" />
		<my-strarrprops :message="parentMessage" warning-text="提示信息"></my-strarrprops>
		<hr />
	</div>

	<!-- 对象props -->
	<div id="objprops">
		<my-objprops :propnumr="value"></my-objprops>
	</div>

	<!-- 自定义事件 -->
	<div id="custom_event">
		<p>总数：{{total}}</p>
		<custom-event @increase="handleGetTotal"
					@reduce="handleGetTotal"></custom-event>
		<hr />
	</div>

	<!-- 双向绑定的v-model组件 -->
	<div id='dvmodel'>
		<h3>总数：{{total}}</h3>
		<dbl-vmodel v-model="total"></dbl-vmodel>
		<button @click="handleReduce">-1</button>
		<hr />
	</div>

	<!-- bus实现组件间通信 -->
	<div id="busc">
		{{message}}
		<bus-connect></bus-connect>
		<hr />
	</div>

	<!-- $parent -->
	<div id="parent">
		{{message}}
		<parent-c></parent-c>
		<hr />
	</div>

	<!-- $ref -->
	<div id="ref">
		<button @click="handleRef">通过ref获取子组件实例</button>
		<ref-c ref="com"></ref-c>
		<hr />
	</div>

	<!-- slot -->
	<div id="slot">
		<slot-c>
			<p>分发的内容</p>
			<p>更多分发的内容</p>
		</slot-c>
		<hr />
	</div>

	<!-- name slot -->
	<div id="nameSlot">
		<name-slot>
			<h2 slot="header">标题</h2>
			<p>正文内容</p>
			<p>更多的正文内容</p>
			<div slot="footer">底部信息</div>
			<p>test</p>
		</name-slot>
		<hr />
	</div>

	<!-- listSlot -->
	<div id="listSlot">
		<list-slot :books="books">
			<!-- 作用域插槽也可以是具名的Slot -->
			<template slot="book" slot-scope="props">
				<li>{{props.bookName}}</li>
			</template>
		</list-slot>
	</div>



	<script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
	<script src="./main.js"></script>
</body>
</html>